@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifre doğrulamasını unuttum";
}

<h2>@ViewData["Title"]</h2>
<p>
    Şifrenizi yenilemek için lütfen Eposta adresinizi kontrol ediniz.
</p>

