@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre onayını yenile";
}

<h2>@ViewData["Title"]</h2>
<p>
    Şifreniz yenilendi. Lütfen <a asp-page="./Login">Giriş yapmak için tıklayınız</a>.
</p>
